*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
}
.header{
    display: flex;
    color: white;
    border: 1px solid black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;

}

.first-main{
    padding-top: 160px;
    background-image: url(Object.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
}

.headings-links{
    display: flex;
    text-align: right;
    gap: 40px;
    text-decoration: none;
    list-style: none;
    margin-left: 700px;
    color: white;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}

.first-main{
    width: 100%;
    height: 100vh;

}
.first-main h1{
    color: white;
    text-align: center;
    font-family: source sans pro;
    font-size: 5.5rem; 
    
}

.span{
    display: block;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 1.2rem;
    gap: 60px;
    
}

.spans{
    margin-left: 50px;
}
.main-container h2{
    color: #c271ff;
    text-align: center;
}
.main-container span{
    color: white;
}
.partners{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 70px;
    margin-left: 40px;    
    margin: auto;
}
.border{
    border-radius: 50%;
}
.partners h3{
    color: white;
}
.partners p{
    text-align: center;
    width: 150px;
    color: white;
}

.partner{
    margin: 20px;
}


.register{
    display: block;
    margin: 0 auto;
    color: white;
    background-color:#c271ff ;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    margin-bottom: 100px;
}

/* Section two*/

.section-2{
    display: flex;
    padding-left: 200px;
    background-color: #c271ff;
    color: white;
    height: 40vh;
    padding-top: 60px;
}
blockquote{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 1.5rem;
}

.name{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 1.5rem;

}

.weather{
    margin-left: 30px;
    margin-top: 8px;
    font-size: 1.5rem;

}

/* class section-3 */

.section-4{
    display: flex;
    justify-content: center;
    text-align: centre;
    gap: 30px;
}

.section-3{
    margin-top: 20px;
}

.section-3 h2{
    text-align: center;
}
.relative{
    display: flex;
}
.relative img{
    width: 30px;
    height: 30px;
}
.relative h4{
    margin: 8px 8px;
    color: #c271ff;
}

.stars{
    display: flex;
    color: #c271ff;
}

.star{
    background-color: #d8d8d8;
}

.relate{
    position: relative;
    top: 0px;
    left: 0px;  
}
.absolute{
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 1;
}

/*Section-5*/

.section-5{
    background-color: #071629;
    color: white;    
    height: 35vh;
    padding-top: 30px;
}


.section-5 h2{
    text-align: center;

}    

.section-6{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.section-7 p{
    text-align: center;
}

.button{
    display: block;
    margin: 0 auto;
    color: white;
    background-color:#c271ff ;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    margin-bottom: 100px;

}


/*section - 8*/
.section-8 h2{
    font-size: 4.5rem;
    text-align: center;
}

.frequent{
    display: flex;
    align-items: center;
    padding: 0 100px;
    
}
.lorem{
    color: #071629;
    margin: 15px 0;
}